#first {
  color: #ff0000;
  background: #000;
}
#second {
  color: rgb(0, 255, 0);
  background: rgba(0, 0, 0, 0.5);
}
#three {
  color: #f15025;
  background: #fff;
}
#four {
  color: rgb(0, 0, 255);
  background: rgba(0, 0, 0, 1);
}

body {
  background: rgba(10, 10, 200, 0.5);
}
