h1 {
  color: blue;
  font-size: 4rem;
}
h2 {
  color: cadetblue;
}
#title {
  color: yellow;
  background: black;
}

#subheading {
  color: blue;
  background: grey;
}

h3 {
  color: blue;
}

.green {
  color: green;
}
.red {
  color: red;
  background: grey;
}
#heading {
  font-size: 40px;
}
.lowercase {
  text-transform: lowercase;
}
span {
  text-transform: uppercase;
}
p {
  color: darkmagenta;
}
