* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  min-height: 100vh;
  color: green;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.big-img {
  background: url("../images/big_img.jpeg");
  /* background-repeat: round; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.small-img {
  border: 2px solid red;
  background: url("../images/img.jpeg");
  /* background-repeat: repeat; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  /* background-repeat: repeat-x; */
  /* background-repeat: repeat-y; */
  /* background-repeat: space; */
  /* background-repeat: round; */
}

.folder-img {
  background: url("../images/big_img.jpeg");
  /* background-size: contain; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
